<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI_SMC_PlatformPlugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.ACPI_SMC_PlatformPlugin</string>
			<key>IOClass</key>
			<string>ACPI_SMC_PlatformPlugin</string>
			<key>IOPlatformThermalProfile</key>
			<dict>
				<key>CStateDemotionDict</key>
				<dict>
					<key>MacPro6,1</key>
					<string>CSDD_std1</string>
				</dict>
				<key>ConfigArray</key>
				<array>
					<dict>
						<key>model</key>
						<string>MacPro6,1</string>
					</dict>
				</array>
				<key>ControlArray</key>
				<array>
					<dict>
						<key>Desc-Key</key>
						<string>CPU_PLIMIT</string>
						<key>IOClass</key>
						<string>AppleSMCControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>10</integer>
						<key>location</key>
						<string>cpu plimit</string>
						<key>type</key>
						<string>smc</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>CPU_STATE</string>
						<key>IOClass</key>
						<string>AppleSMCControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>13</integer>
						<key>location</key>
						<string>cpu state</string>
						<key>type</key>
						<string>smc</string>
					</dict>
					<dict>
						<key>Desc-Key</key>
						<string>GPU_RANGE_CONTROL_PCI</string>
						<key>IOClass</key>
						<string>IOPlatformControl</string>
						<key>control-flags</key>
						<integer>2</integer>
						<key>control-id</key>
						<integer>18</integer>
						<key>location</key>
						<string>gpu-pci</string>
						<key>type</key>
						<string>gpu-control</string>
					</dict>
				</array>
				<key>CreationDate</key>
				<string>Tue May 12 15:35:42 PDT 2009</string>
				<key>CtrlLoopArray</key>
				<array>
					<dict>
						<key>Description</key>
						<string>SMC_CPU_Control_Loop</string>
						<key>IOClass</key>
						<string>ACPI_SMC_CtrlLoop</string>
						<key>MetaStateArray</key>
						<array>
							<dict>
								<key>Description</key>
								<string>Normal</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>Reduced Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User Low Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User High Power</string>
							</dict>
						</array>
						<key>PLimitClass</key>
						<array>
							<string>CPU</string>
						</array>
						<key>PLimitDict</key>
						<dict>
							<key>MacPro6,1</key>
							<integer>0</integer>
						</dict>
						<key>StepDataDict</key>
						<dict>
							<key>MacPro6,1</key>
							<string>SP12</string>
							<key>SP12</key>
							<data>
							WAQAAAAAAQIEAAACAgAA
							VQBuAHMAcABlAGMAaQBm
							AGkAZQBkDAAH/wcAAA0A
							AAACAAAB//8A/wD/AP8A
							/wD/AAYAAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsP
							AAD/AQAD/wALDwAA/wEA
							A/8ACw8AAP8BAAP/AAsK
							AAABCgAAAQAAAAEAAAD1
							AAEFAAABAAAF/wABAAAA
							AQAAAAEGAAACAAAABAEA
							AIAAwwC3AC4ANAALAAAA
							AgAAAAEAAAABAAAAAgAA
							AAICAAACBgAAAQAAAAEA
							AAD1AAEFAAADAAAF/wAD
							AgAAAwYAAAkAAAAEAAAA
							MgYAAAQAAAX/AAMAAAAB
							AAAABAQAAIAAAAAKCgAA
							CAAAAAUAAAAIAAAABQAA
							AAMAAAACAAAABQYAAAcA
							AAABAAAA9QABBQAABgAA
							Bf8AAwAAAAMAAAAGBgAA
							AgAAAAQAAABkBgAABwQA
							AAcAAAADAAAABAAAAAcG
							AAAICgAAAwAABf8ABAIA
							AAgGAAABAAAAAQAAAPQA
							AQUAAAkAAAX/AAUCAAAJ
							BgAAAgAAAAQBAACAAMMA
							twAuADQACwAAAAkAAAAK
							AAAACQAAAAoAAAAFAAAA
							AQAAAAoGAAAHAAAAAQAA
							APUAAQUAAAsAAAX/AAUA
							AAACAAAACwYAAAIAAAAE
							AAAAZAYAAAwEAAAMAAAA
							BQAAAAMAAAAMBgAACAoA
							AAkAAAX/
							</data>
						</dict>
						<key>ctrlloop-id</key>
						<integer>0</integer>
						<key>is-state-driven</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>ControlIDArray</key>
						<array>
							<integer>16</integer>
							<integer>17</integer>
							<integer>18</integer>
						</array>
						<key>Description</key>
						<string>SMC_GPU_Range_Control_Loop</string>
						<key>GPUControlInfoDict</key>
						<dict>
							<key>CIA7</key>
							<array>
								<integer>3</integer>
								<integer>18</integer>
								<integer>0</integer>
							</array>
							<key>MacPro6,1</key>
							<string>CIA7</string>
						</dict>
						<key>IOClass</key>
						<string>ACPI_SMC_GPU_CtrlLoop</string>
						<key>MetaStateArray</key>
						<array>
							<dict>
								<key>Description</key>
								<string>Normal</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>Reduced Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User Low Power</string>
							</dict>
							<dict>
								<key>Description</key>
								<string>User High Power</string>
							</dict>
						</array>
						<key>PLimitClass</key>
						<array>
							<string>GPU</string>
						</array>
						<key>ctrlloop-id</key>
						<integer>3</integer>
					</dict>
				</array>
			</dict>
			<key>IOProbeScore</key>
			<integer>1200</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>IOCPUNumber</key>
				<integer>0</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleACPICPU</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
		</dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProbeScore</key>
			<integer>9001</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>MacPro6,1</key>
				<dict>
					<key>Vendor10deDevice05e2</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
							<key>IdleInterval</key>
							<integer>250</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>4</integer>
							<key>TargetCount</key>
							<integer>5</integer>
							<key>Threshold_High</key>
							<array>
								<integer>87</integer>
								<integer>87</integer>
								<integer>87</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>87</integer>
								<integer>87</integer>
								<integer>87</integer>
							</array>
						</dict>
						<key>LogControl</key>
						<integer>0</integer>
						<key>control-id</key>
						<integer>18</integer>
					</dict>
					<key>Vendor10deDevice0640</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
							<key>IdleInterval</key>
							<integer>250</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>4</integer>
							<key>TargetCount</key>
							<integer>5</integer>
							<key>Threshold_High</key>
							<array>
								<integer>88</integer>
								<integer>88</integer>
								<integer>88</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>95</integer>
								<integer>95</integer>
								<integer>95</integer>
							</array>
						</dict>
						<key>LogControl</key>
						<integer>0</integer>
						<key>control-id</key>
						<integer>18</integer>
					</dict>
					<key>default-control-id</key>
					<integer>18</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Vinoth Ramiah. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict/>
</dict>
</plist>
